---
import NavCard from "./NavCard.astro";
const { NavCardList } = Astro.props;
---

<script>
  //This script shrinks the max width of the grid if it is under 5 grid items
  const gridLength = document.querySelectorAll(".navCardContainer").length;
  const grid = document.querySelectorAll(
    ".navCardGrid"
  ) as NodeListOf<HTMLElement>;
  const navCardSize = getComputedStyle(
    document.documentElement
  ).getPropertyValue("--NavCardSize");

  if (gridLength < 5) {
    grid.forEach((grid) => {
      grid.style.maxWidth = `calc(${navCardSize} * ${gridLength} + 20vw)`;
    });
  } else {
    grid.forEach((grid) => {
      grid.style.maxWidth = `calc(${navCardSize} * 5 + 20vw)`;
    });
  }
</script>

<div class="navCardGrid">
  {
    NavCardList.map(
      (GenNavCard: {
        title: string;
        subtitle: string;
        imgSrc: string;
        link: string;
      }) => {
        return (
          <NavCard
            title={GenNavCard.title}
            subtitle={GenNavCard.subtitle}
            imgSrc={GenNavCard.imgSrc}
            link={GenNavCard.link}
          />
        );
      }
    )
  }
</div>

<style>
  .navCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--NavCardSize), 1fr));
    padding-inline: 10vw;
    padding-block: var(--SmallGap);
    margin: auto;
    justify-items: center;
  }
</style>
